<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/habitacars"
                role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank"
                href="https://www.instagram.com/habitacars/" role="button"><i class="fab fa-instagram"></i></a>

            <!-- Youtube -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank"
                href="https://www.youtube.com/watch?v=c8uL_hOwL-c&t=6s&ab_channel=C%C3%A1maradeComerciodeQuito"
                role="button"><i class="fab fa-youtube"></i></a>

            <!-- Whatsapp -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank"
                href="https://web.whatsapp.com/send?phone=593961944111" role="button"><i
                    class="fab fa-whatsapp"></i></a>
        </section>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="https://habitacars.com/">HabitaCars</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->