#contenedor {
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: calc(100vh - 173px);
}
footer {
  width: auto;
  height: auto;
  position: static;
  bottom: 0;
  left: 0;
  flex: 0 0 auto;
}
